.resultWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.resultInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  background-color: white;
  width: 300px;
  padding: 20px;
}

.resultMenuWrapper {
  display: flex;
  gap: 10px;
}
