.checkWrapper {
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 30px;
}

.checkTableWrapper {
  background-color: #fff;
}

.checkTableCell {
  border-bottom: none;
  max-width: 300px;
}

.checkTableCellLabel {
  width: 250px;
}

.checkButtonMenu {
  display: flex;
}

.checkInputWrapper {
  max-width: 300px;
}
