.cardWrapper {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  background-color: #fee3c3;
  user-select: none;
  cursor: pointer;
}

.cardTitle {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.originCard {
  opacity: 0.5;
  background-color: transparent;
}

.draggedCard {
  position: fixed;
  pointer-events: none;
  z-index: 1;
  transform: scale(1.01);
}

.targetCard {
  border: 3px dashed #198ffc;
  background-color: #e5f6fe;
}
